/* Main content */

html {
    height: 100%;
    min-height: 300px;
}

body {
    text-align: center;
    min-width: 900px;
    height: 100%;
    margin: 0;
}

#page {
    background-color: #222;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#time {
    font-size: 70px;
}

#date, #advice {
    font-size: 20px;
}

#date {
    margin-bottom: 50px;
}

#answer {
    font-size: 50px;
}

/* Configuration menu */

#option-menu {
    z-index: 5;
    text-align: left;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    border-color: white;
}

#toggle-menu {
    background-image: url("gear-white.svg");
    color: transparent;
    width: 25px;
    height: 25px;
}

#option-menu > label, #option-menu > label > img {
    display: block;
}

#option-menu ul {
    padding: 0;
    list-style-type: none;
    display: none;
    margin-bottom: 0;
}

#option-menu ul li {
    padding-left: 30px;
    position: relative;
    line-height: 30px;
}

#option-menu ul li label:before {
    content: " ";
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    top: 8px;
    left: 5px;
    background-color: green;
    border-radius: 50%;
}

#option-menu label {
    vertical-align: top;
}

.ui-option-input {
    display: none;
}

/* Option menu activation */

#show-menu:checked ~ #page #option-menu ul {
    display: block;
}

/* Option menu items */

.status-color {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    background-color: red;
    border-radius: 50%;
}

#hide-clock:checked ~ #page label[for="hide-clock"]:before {
    background-color: grey;
}

#light-theme:checked ~ #page label[for="light-theme"]:before {
    background-color: grey;
}

/* Option effect on main content */

#hide-clock:checked ~ #page #time {
    display: none;
}

#hide-clock:checked ~ #page #date  {
    display: none;
}

#light-theme:checked ~ #page {
    background-color: initial;
    color: initial;
}

#light-theme:checked ~ #page #toggle-menu {
    background-image: url("gear-black.svg");
}

#light-theme:checked ~ #page #option-menu {
    border-color: black;
}
